[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "convergEU"]
	path = convergEU
	url = https://github.com/federico-m-stefanini/convergeu
